<html>
    <head>
        <meta charset="utf-8">
        <title>Science Task</title>
        <style>
            #text {
                position: absolute;
                color: white;
                font-family: sans-serif;
                left: 20%;
            }
        </style>
    </head>
    <body style="height: 100%; width: 100%; background-color: black; margin: 0">
<!--
        <div id="text" style="left:0%;top:10%;"
            <p>Elevation<br><span id = "elevation" style="font-size: 225%; font-weight: bolder;"></p>
        </div>
-->

        <div id="text" style="left:82%;top:5%;text-align: center;">
            <p>Atmospheric Pressure<br><span id = "atmospheric_pressure" style="font-size: 225%; font-weight: bolder;"></p>
        </div>

        <div id="text" style="left:80%;top:20%;text-align: center;">
            <p>Air Temperature<br><span id = "air_temperature" style="font-size: 225%; font-weight: bolder;"></p>
        </div>

        <div id="text" style="left:91%;top:20%;text-align: center;">
            <p>Air Humidity<br><span id = "air_humidity" style="font-size: 225%; font-weight: bolder; "></p>
        </div>

        <div id="text" style="left:79%;top:33%;text-align: center;">
            <p>Soil Temperature<br><span id = "soil_temperature" style="font-size: 225%; font-weight: bolder; "></p>
        </div>

        <div id="text" style="left:90.75%;top:33%;text-align: center;">
            <p>Soil Humidity<br><span id = "soil_humidity" style="font-size: 225%; font-weight: bolder; "></p>
        </div>

        <div id="text" style="left:79.5%;top:46%;font-size:125%;font-weight: bolder;">
            <p>Amount of gas in ppm</p>
        </div>

        <div id="text" style="left:86%;top:53%;text-align: center;">
            <p>Carbon<br>Monoxide<br><span id = "carbon_monoxide" style="font-size: 225%; font-weight: bolder; "></p>
        </div>

        <div id="text" style="left:93%;top:53%;text-align: center;">
            <p>Carbon<br>Dioxide<br><span id = "carbon_dioxide" style="font-size: 225%; font-weight: bolder; "></p>
        </div>

        <div id="text" style="left:80%;top:53%;text-align: center;">
            <p>Methane<br><br><span id = "methane" style="font-size: 225%; font-weight: bolder; "></p>
        </div>

        <div id="text" style="left:87%;top:68%;font-size:125%;font-weight: bolder;">
            <p>pH</p>
        </div>

        <div id="text" style="left:94%;top:76%;text-align: center;">
            <p>Nitrogen<br><span id = "nitrogen" style="font-size: 225%; font-weight: bolder;"></p>
        </div>

        <div id="text" style="left:87%;top:76%;text-align: center;">
            <p>Potassium<br><span id = "potassium" style="font-size: 225%; font-weight: bolder;"></p>
        </div>

        <div id="text" style="left:80%;top:76%;text-align: center;">
            <p>Phosphor<br><span id = "phosphor" style="font-size: 225%; font-weight: bolder;"></p>
        </div>

</html>
